<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="php-discogs-api Test Suite">
            <directory>tests/Discogs/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">lib/Discogs/</directory>
        </whitelist>
    </filter>
</phpunit>